@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image__img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: inherit;
     object-position: inherit;
}

.nav {
  margin: 5rem auto 10rem auto;
  padding: 0 min(2rem, 10%);
  max-width: 1440px;
}
@media screen and (max-width: 480px) {
  .nav {
    max-width: 375px;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    margin: 2rem auto 5rem auto;
  }
}
.nav__wrapper {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 2.5rem;
}
@media screen and (max-width: 480px) {
  .nav__logo {
    height: 1rem;
  }
}
.nav__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ff52bf;
  background-color: transparent;
  border: none;
  padding: 1ch;
  max-width: 15ch;
  width: 100%;
  outline: 2px solid currentColor;
  border-radius: 50px;
}
.nav__button:hover {
  cursor: pointer;
  color: #ff8fd8;
}
@media screen and (max-width: 480px) {
  .nav__button {
    font-size: 0.6rem;
  }
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .main {
    max-width: 375px;
  }
}

.intro {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 min(2rem, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.intro__title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #00252e;
}
@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 1.5rem;
  }
}
.intro__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #00252e;
  max-width: 55ch;
  color: #00252e;
}
@media screen and (max-width: 480px) {
  .intro__text {
    font-size: 0.9rem;
  }
}
.intro__button, .cta__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #f5faff;
  border: none;
  border-radius: 50px;
  background-color: #ff52bf;
  padding: 2.5ch 1ch;
  max-width: 35ch;
  width: 100%;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1254901961);
  margin-bottom: 3rem;
}
@media screen and (max-width: 480px) {
  .intro__button, .cta__button {
    font-size: 0.8rem;
    padding: 1.5ch 1ch;
    max-width: 30ch;
  }
}
.intro__button:hover, .cta__button:hover {
  cursor: pointer;
  background-color: #ff8fd8;
}
.intro__stats-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  .intro__stats-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}
.intro__image {
  margin-bottom: 3rem;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.stats__icon {
  align-self: flex-start;
  height: 2.5rem;
}
@media screen and (max-width: 480px) {
  .stats__icon {
    height: 1.8rem;
  }
}
.stats__num {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(4rem, 10vw, 6rem);
  color: #00252e;
}
@media screen and (max-width: 480px) {
  .stats__num {
    font-size: 3.5rem;
  }
}
.stats__desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #00252e;
}
@media screen and (max-width: 480px) {
  .stats__desc {
    font-size: 0.9rem;
  }
}

.feature {
  position: relative;
  margin: 20rem 0;
  padding: 0 min(2rem, 10%);
}
@media screen and (max-width: 480px) {
  .feature {
    padding: 5rem min(2rem, 10%);
    margin: 5rem 0;
  }
}
.feature--one, .feature--two {
  background-color: #f5faff;
}
.feature--one::before, .feature--two::before {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 0;
}
.feature--one::after, .feature--two::after {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.feature--one::before {
  content: url(./images/bg-section-top-desktop-1.svg);
}
@media screen and (max-width: 480px) {
  .feature--one::before {
    content: url(./images/bg-section-top-mobile-1.svg);
  }
}
.feature--one::after {
  content: url(./images/bg-section-bottom-desktop-1.svg);
}
@media screen and (max-width: 480px) {
  .feature--one::after {
    content: url(./images/bg-section-bottom-mobile-1.svg);
  }
}
.feature--two::before {
  content: url(./images/bg-section-top-desktop-2.svg);
}
@media screen and (max-width: 480px) {
  .feature--two::before {
    content: url(./images/bg-section-top-mobile-2.svg);
  }
}
.feature--two::after {
  content: url(./images/bg-section-bottom-desktop-2.svg);
}
@media screen and (max-width: 480px) {
  .feature--two::after {
    content: url(./images/bg-section-bottom-mobile-2.svg);
  }
}
.feature__wrapper {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  .feature__wrapper {
    gap: 5rem;
    flex-wrap: wrap;
    text-align: center;
  }
}
.feature__wrapper--even {
  flex-direction: row-reverse;
}
.feature__title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.2rem, 4vw, 2.5rem);
  color: #00252e;
  margin-bottom: 1ch;
}
@media screen and (max-width: 480px) {
  .feature__title {
    font-size: 1.2rem;
  }
}
.feature__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #00252e;
  max-width: 50ch;
}
@media screen and (max-width: 480px) {
  .feature__text {
    font-size: 0.9rem;
  }
}
.feature__image {
  width: 30rem;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 min(2rem, 10%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.cta__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #00252e;
}
@media screen and (max-width: 480px) {
  .cta__title {
    font-size: 1.5rem;
  }
}
.footer {
  position: relative;
  margin: 15rem auto 0 auto;
  padding: 5rem min(2rem, 10%);
  background-color: #00252e;
  max-width: 1440px;
}
@media screen and (max-width: 480px) {
  .footer {
    max-width: 375px;
  }
}
.footer::before {
  content: url(./images/bg-footer-top-desktop.svg);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 0;
}
@media screen and (max-width: 480px) {
  .footer::before {
    content: url(./images/bg-footer-top-mobile.svg);
  }
}
.footer__wrapper {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5rem;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__logo {
  height: 2.2rem;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f5faff;
}
.footer__text {
  font-family: "Open Sans", sans-serif;
  color: #f5faff;
  line-height: 3ch;
}
.footer__text--small {
  font-size: 0.8rem;
  max-width: 18rem;
}
.footer__info {
  display: flex;
  align-items: center;
  gap: 2ch;
}
.footer__icon {
  height: 2.5ch;
}
.footer__form {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 18rem) minmax(-webkit-min-content, 15ch);
  grid-template-columns: minmax(min-content, 18rem) minmax(min-content, 15ch);
  gap: min(2rem, 10%);
}
@media screen and (max-width: 480px) {
  .footer__form {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.footer__email-container {
  position: relative;
}
.footer__email {
  background-color: #f5faff;
  padding: 0 1rem;
  border: none;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}
.footer__email:focus-visible {
  outline: 1px solid #ff52bf;
}
.footer__error {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  margin: 1ch 0;
  color: #ff4242;
}
.footer__button {
  padding: 1ch;
  max-width: 15ch;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: #ff52bf;
  border-radius: 0.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f5faff;
  margin-left: auto;
}
.footer__button:hover {
  cursor: pointer;
  background-color: #ff8fd8;
}
.footer__social-container {
  max-width: 80rem;
  margin: 0 auto;
  flex-basis: 100%;
  display: flex;
  gap: min(2rem, 5%);
  margin-top: 5rem;
  margin-bottom: 2ch;
}
.footer__social {
  height: 2.5rem;
  position: relative;
}
.footer__social:hover {
  cursor: pointer;
}
.footer__social:hover::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #ff52bf;
  mix-blend-mode: darken;
  isolation: isolate;
}
.footer__attribution {
  max-width: 80rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #f5faff;
  text-align: start;
}
.footer__link {
  color: #ff52bf;
}/*# sourceMappingURL=style.css.map */