@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image__img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: inherit;
     object-position: inherit;
}

.nav {
  margin: 5rem auto 10rem auto;
  padding: 0 1rem;
  max-width: 1440px;
}
.nav__wrpr {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 2.5rem;
}
.nav__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ff52bf;
  background-color: transparent;
  border: none;
  padding: 1ch;
  max-width: 15ch;
  width: 100%;
  outline: 1px solid currentColor;
  border-radius: 50px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.intro {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.intro__ttl {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #00252e;
}
.intro__txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #00252e;
  max-width: 55ch;
  color: #00252e;
}
.intro__btn, .cta__btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #f5faff;
  border: none;
  border-radius: 50px;
  background-color: #ff52bf;
  padding: 2.5ch 1ch;
  max-width: 35ch;
  width: 100%;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1254901961);
  margin-bottom: 3rem;
}
.intro__stats-cntnr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stats__icn {
  align-self: flex-start;
  height: 2.5rem;
}
.stats__num {
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  color: #00252e;
}
.stats__desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #00252e;
}

.feature {
  position: relative;
  margin: 20rem 0;
  padding: 0 1rem;
}
.feature--one, .feature--two {
  background-color: #f5faff;
}
.feature--one::before, .feature--two::before {
  content: url(./images/bg-section-top-desktop-1.svg);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 0;
}
.feature--one::after, .feature--two::after {
  content: url(./images/bg-section-bottom-desktop-1.svg);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.feature--one::before {
  content: url(./images/bg-section-top-desktop-1.svg);
}
.feature--one::after {
  content: url(./images/bg-section-bottom-desktop-1.svg);
}
.feature--two::before {
  content: url(./images/bg-section-top-desktop-2.svg);
}
.feature--two::after {
  content: url(./images/bg-section-bottom-desktop-2.svg);
}
.feature__wrpr {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.feature__wrpr--even {
  flex-direction: row-reverse;
}
.feature__ttl {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #00252e;
}
.feature__txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #00252e;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cta__ttl {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #00252e;
}
.footer {
  position: relative;
  margin: 15rem auto 0 auto;
  padding: 5rem 1rem;
  background-color: #00252e;
  max-width: 1440px;
}
.footer::before {
  content: url(./images/bg-footer-top-desktop.svg);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  line-height: 0;
}
.footer__wrpr {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__clmn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__logo {
  height: 2.2rem;
}
.footer__ttl {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f5faff;
}
.footer__txt {
  font-family: "Open Sans", sans-serif;
  color: #f5faff;
  line-height: 3ch;
}
.footer__txt--sml {
  font-size: 0.8rem;
  max-width: 18rem;
}
.footer__info {
  display: flex;
  align-items: center;
  gap: 2ch;
}
.footer__icn {
  height: 2.5ch;
}
.footer__form {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 18rem) minmax(-webkit-min-content, 15ch);
  grid-template-columns: minmax(min-content, 18rem) minmax(min-content, 15ch);
  gap: min(2rem, 10%);
  height: 3rem;
}
.footer__email {
  background-color: #f5faff;
  padding: 0 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.footer__email:focus-visible {
  outline: 1px solid #ff52bf;
}
.footer__button {
  padding: 1ch;
  max-width: 15ch;
  width: 100%;
  border: none;
  background-color: #ff52bf;
  border-radius: 0.25rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #f5faff;
}
.footer__social-cntnr {
  flex-basis: 100%;
  display: flex;
  gap: min(2rem, 5%);
  margin-top: 5rem;
}
.footer__social {
  height: 2.5rem;
  position: relative;
}
.footer__social:hover {
  cursor: pointer;
}
.footer__social:hover::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #ff52bf;
  mix-blend-mode: darken;
  isolation: isolate;
}
.footer__attribution {
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #f5faff;
}
.footer__link {
  color: #ff52bf;
}/*# sourceMappingURL=style.css.map */