@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
$ff-headings: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
$ff-body: "Open Sans", sans-serif;

$c-p-Pink: hsl(322, 100%, 66%);
$c-p-Pink-light: hsl(321, 100%, 78%);
$c-p-Red-light: hsl(0, 100%, 63%);

$c-n-Cyan-very-dark: hsl(192, 100%, 9%);
$c-n-Blue-very-pale: hsl(207, 100%, 98%);

* {
	font-family: $ff-body;
}
