@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
$ff-headings: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap");
$ff-body: "Open Sans", sans-serif;

$c-p-pink: #ff52bf;
$c-p-pink-light: #ff8fd8;
$c-p-red-light: #ff4242;

$c-n-cyan-very-dark: #00252e;
$c-n-blue-very-pale: #f5faff;

$max-width: 80rem;
$pad: min(2rem, 10%);
$breakpoint: 480px;

@mixin max-width($num: $max-width) {
	max-width: $num;
	margin: 0 auto;
}

@mixin page-width {
	max-width: 1440px;

	@media screen and (max-width: $breakpoint) {
		max-width: 375px;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
}

.image {
	&__img {
		height: 100%;
		max-width: 100%;
		object-fit: cover;
		object-position: inherit;
	}
}

.nav {
	margin: 5rem auto 10rem auto;
	padding: 0 $pad;
	@include page-width;

	@media screen and (max-width: $breakpoint) {
		margin: 2rem auto 5rem auto;
	}

	&__wrapper {
		@include max-width;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 2.5rem;

		@media screen and (max-width: $breakpoint) {
			height: 1rem;
		}
	}

	&__button {
		font-family: $ff-body;
		font-weight: 500;
		font-size: 1rem;
		color: $c-p-pink;
		background-color: transparent;
		border: none;
		padding: 1ch;
		max-width: 15ch;
		width: 100%;
		outline: 2px solid currentColor;
		border-radius: 50px;

		&:hover {
			cursor: pointer;
			color: $c-p-pink-light;
		}

		@media screen and (max-width: $breakpoint) {
			font-size: 0.6rem;
		}
	}
}

.main {
	@include page-width;
	margin: 0 auto;
}

.intro {
	@include max-width(65rem);
	padding: 0 $pad;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 3rem;

	&__title {
		font-family: $ff-headings;
		font-size: 3rem;
		color: $c-n-cyan-very-dark;

		@media screen and (max-width: $breakpoint) {
			font-size: 1.5rem;
		}
	}

	&__text {
		font-family: $ff-body;
		font-weight: 500;
		font-size: 1.3rem;
		color: $c-n-cyan-very-dark;
		max-width: 55ch;
		color: $c-n-cyan-very-dark;

		@media screen and (max-width: $breakpoint) {
			font-size: 0.9rem;
		}
	}

	&__button {
		font-family: $ff-body;
		font-weight: 700;
		font-size: 1.1rem;
		color: $c-n-blue-very-pale;
		border: none;
		border-radius: 50px;
		background-color: $c-p-pink;
		padding: 2.5ch 1ch;
		max-width: 35ch;
		width: 100%;
		box-shadow: 0 0.5rem 0.5rem #00000020;
		margin-bottom: 3rem;

		@media screen and (max-width: $breakpoint) {
			font-size: 0.8rem;
			padding: 1.5ch 1ch;
			max-width: 30ch;
		}

		&:hover {
			cursor: pointer;
			background-color: $c-p-pink-light;
		}
	}

	&__stats-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 2rem;

		@media screen and (max-width: $breakpoint) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 5rem;
		}
	}

	&__image {
		margin-bottom: 3rem;
	}
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;

	&__icon {
		align-self: flex-start;
		height: 2.5rem;

		@media screen and (max-width: $breakpoint) {
			height: 1.8rem;
		}
	}

	&__num {
		font-family: $ff-body;
		font-size: clamp(4rem, 10vw, 6rem);
		color: $c-n-cyan-very-dark;

		@media screen and (max-width: $breakpoint) {
			font-size: 3.5rem;
		}
	}

	&__desc {
		font-family: $ff-body;
		font-weight: 400;
		font-size: 1.5rem;
		color: $c-n-cyan-very-dark;

		@media screen and (max-width: $breakpoint) {
			font-size: 0.9rem;
		}
	}
}

.feature {
	position: relative;
	margin: 20rem 0;
	padding: 0 $pad;

	@media screen and (max-width: $breakpoint) {
		padding: 5rem $pad;
		margin: 5rem 0;
	}

	&--one,
	&--two {
		background-color: $c-n-blue-very-pale;
		&::before {
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 100%;
			height: min-content;
			line-height: 0;
		}

		&::after {
			overflow: hidden;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			height: min-content;
		}
	}

	&--one {
		&::before {
			content: url(./images/bg-section-top-desktop-1.svg);

			@media screen and (max-width: $breakpoint) {
				content: url(./images/bg-section-top-mobile-1.svg);
			}
		}

		&::after {
			content: url(./images/bg-section-bottom-desktop-1.svg);

			@media screen and (max-width: $breakpoint) {
				content: url(./images/bg-section-bottom-mobile-1.svg);
			}
		}
	}

	&--two {
		&::before {
			content: url(./images/bg-section-top-desktop-2.svg);

			@media screen and (max-width: $breakpoint) {
				content: url(./images/bg-section-top-mobile-2.svg);
			}
		}

		&::after {
			content: url(./images/bg-section-bottom-desktop-2.svg);

			@media screen and (max-width: $breakpoint) {
				content: url(./images/bg-section-bottom-mobile-2.svg);
			}
		}
	}

	&__wrapper {
		@include max-width;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;

		@media screen and (max-width: $breakpoint) {
			gap: 5rem;
			flex-wrap: wrap;
			text-align: center;
		}

		&--even {
			flex-direction: row-reverse;
		}
	}

	&__title {
		font-family: $ff-headings;
		font-size: clamp(1.2rem, 4vw, 2.5rem);
		color: $c-n-cyan-very-dark;
		margin-bottom: 1ch;

		@media screen and (max-width: $breakpoint) {
			font-size: 1.2rem;
		}
	}

	&__text {
		font-family: $ff-body;
		font-weight: 500;
		font-size: 1rem;
		color: $c-n-cyan-very-dark;
		max-width: 50ch;

		@media screen and (max-width: $breakpoint) {
			font-size: 0.9rem;
		}
	}

	&__image {
		width: 30rem;
	}
}

.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 0 auto;
	padding: 0 $pad;
	width: fit-content;
	text-align: center;

	&__title {
		font-family: $ff-headings;
		font-size: 2.5rem;
		color: $c-n-cyan-very-dark;

		@media screen and (max-width: $breakpoint) {
			font-size: 1.5rem;
		}
	}

	&__button {
		@extend .intro__button;
	}
}

.footer {
	position: relative;
	margin: 15rem auto 0 auto;
	padding: 5rem $pad;
	background-color: $c-n-cyan-very-dark;
	@include page-width;

	&::before {
		content: url(./images/bg-footer-top-desktop.svg);
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		height: min-content;
		line-height: 0;

		@media screen and (max-width: $breakpoint) {
			content: url(./images/bg-footer-top-mobile.svg);
		}
	}

	&__wrapper {
		@include max-width;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 1rem;

		@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 5rem;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__logo {
		height: 2.2rem;
	}

	&__title {
		font-family: $ff-body;
		font-weight: 600;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $c-n-blue-very-pale;
	}

	&__text {
		font-family: $ff-body;
		color: $c-n-blue-very-pale;
		line-height: 3ch;

		&--small {
			font-size: 0.8rem;
			max-width: 18rem;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 2ch;
	}

	&__icon {
		height: 2.5ch;
	}

	&__form {
		display: grid;
		grid-template-columns: minmax(min-content, 18rem) minmax(min-content, 15ch);
		gap: min(2rem, 10%);

		@media screen and (max-width: $breakpoint) {
			grid-template-columns: 1fr;
			gap: 2rem;
		}
	}

	&__email-container {
		position: relative;
	}

	&__email {
		background-color: $c-n-blue-very-pale;
		padding: 0 1rem;
		border: none;
		border-radius: 0.25rem;
		height: 3rem;
		width: 100%;
		cursor: pointer;
		font-size: 1rem;

		&:focus-visible {
			outline: 1px solid $c-p-pink;
		}
	}

	&__error {
		position: absolute;
		font-family: $ff-body;
		font-size: 0.7rem;
		margin: 1ch 0;
		color: $c-p-red-light;
	}

	&__button {
		padding: 1ch;
		max-width: 15ch;
		width: 100%;
		height: 3rem;
		border: none;
		background-color: $c-p-pink;
		border-radius: 0.25rem;
		font-family: $ff-body;
		font-size: 1rem;
		font-weight: 600;
		color: $c-n-blue-very-pale;
		margin-left: auto;

		&:hover {
			cursor: pointer;
			background-color: $c-p-pink-light;
		}
	}

	&__social-container {
		@include max-width;
		flex-basis: 100%;
		display: flex;
		gap: min(2rem, 5%);
		margin-top: 5rem;
		margin-bottom: 2ch;
	}

	&__social {
		height: 2.5rem;
		position: relative;

		&:hover {
			cursor: pointer;

			&::after {
				position: absolute;
				content: "";
				inset: 0;
				background-color: $c-p-pink;
				mix-blend-mode: darken;
				isolation: isolate;
			}
		}
	}

	&__attribution {
		@include max-width;
		font-family: $ff-body;
		font-size: 0.8rem;
		font-weight: 500;
		color: $c-n-blue-very-pale;
		text-align: start;
	}

	&__link {
		color: $c-p-pink;
	}
}
